/* Sass */
$primaryBg : grey;
$secondaryBg: blue;
$device: 100%;
$light-text:white;
$light-text-size:14px;


body{
    font-family:helvetica,arial,sans-serif;
}

header{
height:100px;
background: $primaryBg;
max-width:$device;
}

.top-section{
background:$secondaryBg;
width:$device;
color: $light-text;
font-size: $light-text-size;
}

.section{
background: $primaryBg;
width:$device;
color: $light-text;
font-size: $light-text-size;
}